<!DOCTYPE html>
<html>
  <head>
    <nav class = "section">
      <ul class = "section_list">
        <li class ="world">World</li>
        <li class ="sf">San Francisco</li>
        <li class ="ny">New York</li>
        <li class ="bootcamp">Bootcamp Prep</li>
        <li class ="jumpstart">Jumpstart</li>
        <li class ="online">Online</li>
        <li class ="marketing">Marketing</li>
        <li class ="sales">Sales</li>
        <li class ="talentmatch">TalentMatch</li>
        <li class ="alumni">Alumni</li>
        <li class ="all">All</li>
      </ul>
    </nav>
  </head>
  <body>

  </body>
</html>
