.masthead {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 2px solid black;
	border-top: 2px solid $light-gray;
	position: relative;
	top: 100px;
}
.masthead > ul{
	display: flex;
}
.masthead >ul > li{
	align-items: center;
	padding: 10px;
}

.language-nav {
	background-color: red;
	position: absolute;
	top: 20px;
	left: calc(50% - (177.78px/2));
	background: white;
}

.language-nav a {
	margin: 10px;
	text-transform: uppercase;
	font-family: $sans-serif;
	font-size: 10px;
	color: $dark-gray;
}

.language-nav ul {
	display: flex;
	position: relative;
	top: 40px

}

.language-nav ul >li{
	border: 1px solid $light-gray;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	align-items: center;
	top: 10px;
	padding: 10px;
}

.language-nav ul >li:first-child{
	font-weight: bold;
}

.language-nav ul >li:hover{
	text-decoration: underline;
	font-weight: normal;
}


.logo {
	max-width: 400px;
	margin-top: 10px;
}

.masthead-links {
	display: flex;
	font-family: $sans-serif;
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-links li {
	margin-left: 10px;
	border-right: 1px solid $light-gray;
}

.video:hover{
	text-decoration: underline;
}
.todays-paper:hover{
	 text-decoration: underline;
}

.market:hover{
	color: green;
}
.wether:hover{
	color: green;
}

.masthead-links button {
	background: none;
	padding: 0px;
	color: #000;
	font-weight: normal;
	border: none;
}

.masthead-links button:hover {
	background-color: $lightest-gray;
}

.masthead-links a,
.masthead-links button,
.masthead-links time {
	margin-right: 10px;
}

.masthead-links i {
	margin-right: 5px;
}

.masthead-links strong {
	color: green;
}
.image{
	height: 130px;
	width: 880px;
}
