<h1> Edit the Sub</h1>

<form action = "<%=sub_url(@sub)%>" method="post">
  <input type = "hidden" name = "_method" value = "patch">
  <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">

  <label> Title
    <input type = "text" name = "sub[title]" id = "Title" value = "<%= @sub.title %>">
  </label>

  <label> Description
    <input type = "text" name = "sub[description]" id = "Description" value = "<%= @sub.description %>">
  </label>

  <input type = "submit" value = "Edit Sub">

</form>
